.cartao {
    background-color: var(--cor-de-fundo-cartao);
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}
