body {
    font-family: var(--font-principal);
    font-size: 20px;
    font-weight: 700;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/670a74ea-e549-4d5c-8510-ec3c5ef4cc5e/dejz89f-ec04388f-d062-4f96-9ff1-7782651b4392.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY3MGE3NGVhLWU1NDktNGQ1Yy04NTEwLWVjM2M1ZWY0Y2M1ZVwvZGVqejg5Zi1lYzA0Mzg4Zi1kMDYyLTRmOTYtOWZmMS03NzgyNjUxYjQzOTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8j6Ez7F5YAhSZkixYv4o4GS4oTS20nEbWN5UDuoZD7c);
    background-size:auto;
}