.informacoes {
    display: flex;
    justify-content: space-between;
    border: 2px solid #333333;
    border-radius: 10px;
}

.informacoes span {
    text-transform: uppercase;
    padding: 5px;
    font-size: 17px;
}