.ranks_cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
}

.ranks {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    width: 55px;
    font-size: 1.02rem;
}