.ranks {
    display: flex;
    gap: 15px;
    border-radius: 10px;
}

.sem_rank {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    width: 70px;
}

.rank_s {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    height: fit-content;
    width: 50px;
}

.rank_d {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    height: fit-content;
    width: 50px;
}

.rank_ss {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    height: fit-content;
    width: 60px;
}

.monarca {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
    height: fit-content;
}