.solo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1.09rem;
    padding: 0.3rem;
}

.solo:hover {
    background-color: transparent;
    color: var(--branco-principal);
    text-decoration: underline;
}