.informacoes_protagonista {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-top: 1em;
}

.informacoes_protagonista span {
    text-transform: uppercase;
    padding: 5px;
    font-size: 25px;
}