.musica {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    height: fit-content;
    padding: 0.5em;
    margin-right: 2em;
    margin-top: 0.3em;
}

.musica:hover {
    color: red;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
