.musica {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 20px;
    background-color: rgb(43, 73, 241);
    border-radius: 5px;
    height: fit-content;
    padding: 0.5em;
    margin-right: 1em;
}

.musica:hover {
    color: white;
    transform: scale(1.05);
    text-decoration: underline;
}
