.musica {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1.04rem;
    background-color: rgb(131, 18, 236);
    border-radius: 5px;
    height: fit-content;
    padding: 0.5em;
    margin-right: 1em;
}

.musica:hover {
    color: var(--branco-principal);
    transform: scale(1.05);
    text-decoration: underline;
}
