<<<<<<< HEAD
.titulo_principal {
    color: white;
    font-family: handjet;
    font-size: 4rem;
    position: absolute; 
    text-align: center;
    top: 20%;
    transform: translate(-50% -50%);
    width: 100%;
    text-decoration: underline;
    left: 0;
=======
.titulo_principal {
    color: white;
    font-family: handjet;
    font-size: 4rem;
    font-weight: 700;
    position: absolute; 
    text-align: center;
    top: 20%;
    transform: translate(-50% -50%);
    width: 100%;
    text-decoration: underline;
    left: 0;
>>>>>>> origin/main
}